%h1
  Passwords
%table.passwords
  %thead
    %tr
      %th
        Link
      %th
        Name
      %th
        Login
      %th
        Password
      %th
  - @passwords.each do |item|
    %tr.item
      %td
        =item.link
      %td
        =item.name
      %td
        =item.login
      %td
        =item.password
      %td
        = link_to "Edit", edit_password_path(item)