%h1
  Passwords
= link_to "Add new password", new_password_path
%table.passwords
  %thead
    %tr
      %th
        Link
      %th
        Name
      %th
        Login
      %th
        Password
      %th
      %th
  - @passwords.each do |item|
    %tr.item
      %td
        =item.link
      %td
        =item.name
      %td
        =item.login
      %td
        =item.password
      %td
        = link_to "Edit", edit_password_path(item)
      %td
        = link_to "Delete", password_path(item), :method => :delete, :confirm => "Are you sure?"